body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

h1 {
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 90%;
    margin: auto;
}

.card {
    background: #ffffff;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}


.card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.price {
    color: green;
    font-size: 18px;
    font-weight: bold;
}

.button{
    display: inline-block;
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 10px;
}

.button:hover {
    background: #0056b3;
}

    